<main>
    <h1 class="text-center text-uppercase">Hello world</h1>
    <h2 class="text-end text-lowercase">Second</h2>
    <h3 class="text-capitalize">Third one two</h3>

    <hr>

    <div class ="display-1 text-muted" >Hello world</div>
    <div class ="display-5">Second</div>
    <div class ="display-6">Third</div>

    <hr>

    <div class="text-muted text-end">
        Додатковий <span class="display-1">текст</span>
    </div>

    <hr>

    <a href="#" class="btn btn-primary">
        Button primary
    </a>

    <hr>

    <p class="text-dark">My text</p>
    <p class="text-muted">My text</p>
    <p>My text</p>

    <hr>

    <div class="card">
        <div  class="card-body">
            <button class="btn btn-secondary btn-lg">Додати</button>
            <button class="btn btn-outline-secondary">Редагувати</button>
            <button class="btn btn-outline-warning btn-sm">Видалити</button>
        </div>
    </div>

    <br>
    <br>

    <div class="card">
        <div class="card-body">
            This is content
        </div>
    </div>
<br>
<br>
    
    <div class="card text-bg-dark">
        <img class="card-img-top" src="https://picsum.photos/400/200" alt="Product photo">
        <div class="card body">
            <h5 class="card-title text-bg-primary">Product №116567</h5>
            <p class="text-bg-secondary">Аэрозоль-репеллент<br> Gardex Extreme</p>
            <a href="/summary" class="btn btn-primary"> Open </a>
        </div>
    </div>
    <br>
    <br>
    <br>

    <div class="card">
        <div class="card-header">
            <div>Menu</div>
        </div>
        
        <div class="list-group">
            <div class="list-group-item">
                <a href="#" class="btn btn-link">Home page</a>
            </div>
            <div class="list-group-item">
                <a href="#" class="btn btn-link">Summary page</a>
            </div>
            <div class="list-group-item">
                <a href="#" class="btn btn-link">Skills page</a>
        </div>
        <div class="card-footer">
            <button class="btn btn-dark btn-sm">Update list</button>
        </div>
    </div>
    </div>
    <br>
    <br>
    <br>

    <table class="table table-striped table-bordered">
        <thead>
            <tr>
                <th>
                    #id
                </th>
                <th>
                    name
                </th>
                <th>
                    age
                </th>
            </tr>
        </thead>

        <tbody>
            <tr>
                <th>1</th>
                <td>Ivan</td>
                <td>17</td>
            </tr>
            <tr>
                <th>2</th>
                <td>Vasya</td>
                <td>46</td>
            </tr>
        </tbody>
    </table>

    <br>
    <br>
    <br>

    <div class="card text-bg-success">
        <div class="card-header text-center">Header</div>
        <div class="card-body text-center">
            <h6 class="card-title">This is title</h6>
            <p>This is contenr of our box</p>
            <button class="btn btn-light">Click</button>
        </div>
        <div class="card-footer text-center">Footer</div>
    </div>

<br>
<br>
<br>

<div class="row gx-5 gy-1">
    <div class="col-4">
     <div class="card text-bg-success">
        <div class="card-header text-center">Header</div>
        <div class="card-body text-center">
            <h6 class="card-title">This is title</h6>
            <p>This is contenr of our box</p>
            <button class="btn btn-light">Click</button>
        </div>
        <div class="card-footer text-center">Footer</div>
    </div>
    </div>

    <div class="col-4">
     <div class="card text-bg-success">
        <div class="card-header text-center">Header</div>
        <div class="card-body text-center">
            <h6 class="card-title">This is title</h6>
            <p>This is contenr of our box</p>
            <button class="btn btn-light">Click</button>
        </div>
        <div class="card-footer text-center">Footer</div>
    </div>
    </div>

    <div class="col-4">
     <div class="card text-bg-success">
        <div class="card-header text-center">Header</div>
        <div class="card-body text-center">
            <h6 class="card-title">This is title</h6>
            <p>This is contenr of our box</p>
            <button class="btn btn-light">Click</button>
        </div>
        <div class="card-footer text-center">Footer</div>
    </div>
    </div>

    <div class="col-4">
     <div class="card text-bg-success">
        <div class="card-header text-center">Header</div>
        <div class="card-body text-center">
            <h6 class="card-title">This is title</h6>
            <p>This is contenr of our box</p>
            <button class="btn btn-light">Click</button>
        </div>
        <div class="card-footer text-center">Footer</div>
    </div>
    </div>

    <div class="col-4">
     <div class="card text-bg-success">
        <div class="card-header text-center">Header</div>
        <div class="card-body text-center">
            <h6 class="card-title">This is title</h6>
            <p>This is contenr of our box</p>
            <button class="btn btn-light">Click</button>
        </div>
        <div class="card-footer text-center">Footer</div>
    </div>
    </div>

    <div class="col-4">
     <div class="card text-bg-success">
        <div class="card-header text-center">Header</div>
        <div class="card-body text-center">
            <h6 class="card-title">This is title</h6>
            <p>This is contenr of our box</p>
            <button class="btn btn-light">Click</button>
        </div>
        <div class="card-footer text-center">Footer</div>
    </div>
    </div>

    <div class="col-4">
     <div class="card text-bg-success">
        <div class="card-header text-center">Header</div>
        <div class="card-body text-center">
            <h6 class="card-title">This is title</h6>
            <p>This is contenr of our box</p>
            <button class="btn btn-light">Click</button>
        </div>
        <div class="card-footer text-center">Footer</div>
    </div>
    </div>
</div>

<br>
<br>
<br>

<div class="row g-4">
    <div class="col-12">
        <div class="nav nav-tabs">
                <div class="nav-item">
                    <a href="#" class="nav-link active">Main</a>
                </div>
                <div class="nav-item">
                        <a href="#" class="nav-link">Shop list</a>
                </div>
                <div class="nav-item">
                    <a href="#" class="nav-link">Header</a>
                </div>
            </div>
        </div>
    </div>
<br>
    <div class="col-4">
        <div class="card">
        <div class="card-body">
            <div class="nav flex-column">
                <div class="nav-item mb-2">
                    <a href="#" class="nav-link">Home page</a>
                </div>
                
                <div class="nav-item">
                    <div class="card">
                        <a href="#" class="nav-link">Catalog</a>
                    </div>
                </div>
                
                <div class="nav-item">
                    <a href="#" class="nav-link">Roz</a>
                </div>
            </div>
        </div>
    </div>
    </div>


    <div class="col-8">
        <div class="row">
            <div class="col-12">
                <ol  class="breadcrumb">
                    <li class="breadcrumb-item">
                        <a href="#">Home</a>
                    </li>
                    <li class="breadcrumb-item">
                        <a href="#">PC та ноутбук</a>
                    </li>
                    <li class="breadcrumb-item">
                        MacBook
                    </li>
                </ol>
            </div>

            <div class="col-12">
                <h6>
                    Hello <span class="badge text-bg-warning rounded-pill text-uppercase">Топ продаж</span>
                    </h6>
                    <button class="btn btn-primary rounded-pill m-3">Click me</button>
                    <div class="alert alert-primary">This is important info!</div>
            </div>
        </div>
    </div>
</div>

</main>