{{!-- 
Це код container файлу для index сторінки, 
в якому міститься код, котрий буде віддаватися по шляху (PATH) - "/"
 --}}
<div class="row gy-1">
    <div class="card">
        <div class="card-body">
            <div class="col-6">
                <h6>Кухарук Квітослава</h6>
            </div>
            <h6 class="col-12 text-end">Resume project</h6>
        </div>
    </div>
</div>

<h2 class="mt-5">Список сторінок</h2>
<p>Зверху ви можете побачити приклад оформлення сторінки
index, на якій ви напишете інформацію про вас</p>

<div class="row gy-3 mt-5">
    <div class="col-12">
        <a href="http://localhost:3000/task31">
            <button class="btn btn-primary">Task31</button>
        </a>
    </div>
    <div class="col-12">
        <a href="http://localhost:3000/task21">
            <button class="btn btn-primary">Task21</button>
        </a>
    </div>

    <div class="col-12">
        <a href="http://localhost:3000/task22">
            <button class="btn btn-primary">Task22</button>
        </a>
    </div>

    <div class="col-12">
        <a href="http://localhost:3000/shophome">
            <button class="btn btn-primary">Shophome</button>
        </a>
    </div>
</div>

{{!-- 
    Цей код містить лише те, що буде виводитись в <body>
    Адже наш layout/default.hbs має вже структуру HTML
--}}